<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>
<!-- if start date < current date print this -->
<h2><strong>My Upcoming Flights:</strong></h2>
<div class="col-xs-6 col-md-4">
  <p>From: <%= @booking.start_date %></p>
  <p>To: <%= @booking.end_date %></p>
  <p><%= @booking.airplane.id %></p>
  <p>Total price: $ <%= @booking.price %> .</p>
</div>
<div class="booking destroy">
    <%= link_to booking_path, method: :delete, data: { confirm: 'Are you sure you want to cancel this trip?'} do %>
    <button>Cancel Booking</button>
    <% end %>
</div>
<!-- else print past booking -->
<%= link_to "Back to my bookings", bookings_path %>
