<div class="listing-container">
  <div class="col-md-6 offset-md-3">
    <div class="listing-row">
    <h1 id="listing-title">Let's get started listing your Jet.</h1>
    <%= simple_form_for(@airplane) do |f|%>
    <div class="row-listing-form">
      <%= f.input :title %>
      <%= f.input :price_per_day %>
      <%= f.input :description %>
      <%= f.input :airport %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="listing-submit-row">
      <%= f.button :submit, "List your Jet", class: "btn-listing" %>
      </div>
   </div>
  <% end %>
    </div>
  </div>
</div>


