<h1>Airplanes#new</h1>
<p>Find me in app/views/airplanes/new.html.erb</p>
<%= simple_form_for(@airplane) do |p| %>
  <div class="form-inputs">
    <%= p.input :title %>
    <%= p.input :description %>
    <%= p.input :airport %>
    <%= p.input :price_per_day %>
  </div>

  <div class="form-actions">
    <button><%= p.button :submit %></button>
  </div>
<% end %>
