<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card-trip text-center">
      <% if @airplane.photo.filename.nil? %>
        <img src="https://robbreportedit.files.wordpress.com/2018/05/pilatus-pc-24.jpg?w=1000" />
      <% else %>
        <%= cl_image_tag @airplane.photo %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h1>Plane: <%= @airplane.title %></h1>
          <h2>Location: <%= @airplane.airport %></h2>
          <p>description: <%= @airplane.description %></p>
          <h2>Reviews</h2>
          <% @reviews.each do |review| %>
         <p>rating: <%= review.rating %></p>
         <p>review: <%= review.content %></p>
         <% end  %>
         <h2><%= "$#{@airplane.price_per_day}" %></h2>
        </div>
        <%= link_to "Edit listing", edit_airplane_path %>
        <%= link_to airplane_path, method: :delete, data: { confirm: 'Are you sure you want to remove this listing?'} do %>
            <button>Remove listing</button>
        <% end %>
        <%= link_to "Back to profile", profile_path %>
    </div>
    </div>
  </div>
  <% if @airplane.user_id != current_user.id %>
  <div class="col-md-6" pd-6px>
    <%= simple_form_for [@airplane, @booking] do |f| %>
    <%= f.input :start_date, input_html: {value: ""} %>
      <%= f.input :end_date, input_html: {value: ""} %>
      <%= f.submit "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% else %>
  <% end %>
  </div>
</div>
