<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card-trip text-center">
      <% if @airplane.photo.filename.nil? %>
        <img src="https://robbreportedit.files.wordpress.com/2018/05/pilatus-pc-24.jpg?w=1000" />
      <% else %>
        <%= cl_image_tag @airplane.photo %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h1> <%= @airplane.title %></h1>
          <h2>Location: <%= @airplane.airport %></h2>
          <p>Description: <%= @airplane.description %></p>
          <h2>Reviews</h2>
          <% @reviews.each do |review| %>
         <p>rating: <%= review.rating %></p>
         <p>review: <%= review.content %></p>
         <% end  %>
         <h2><%= "$#{@airplane.price_per_day}" %></h2>
         <% if current_user == @airplane.user %>
          <%= link_to "Edit listing", edit_airplane_path %>
          <%= link_to "Remove listing", airplane_path, method: :delete, data: { confirm: 'Are you sure you want to remove this listing?'} %>
          <%= link_to "Back to profile", profile_path %>
          <% else %>
          <%= link_to "Back to profile", profile_path %>
          <% end %>
        </div>
    </div>
    </div>
  </div>
  <% if user_signed_in? && @airplane.user_id != current_user.id %>
  <div id='airplane-booking-dates' data-unavailable="<%= @airplane.unavailable_dates.to_json %>">
    <% if current_user.id != @airplane.user_id  %>
       <%= simple_form_for([@airplane, @booking]) do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
           <%= f.input :arrival, as: :string, type: :text, input_html: {id: "search-airport2"}  %>
           <%= f.submit "Book", class: "btn btn-primary" %>
        <% end %>
    <% end %>
 </div>
  <% else %>
  <% end %>
  </div>
</div>
