<h1> Hello <%=@user.first_name.capitalize%>, Welcome to your profile!</h1>

    <h2><strong>My details:</strong></h2>
    <h4><strong>First Name:</strong> <%= @user.first_name %></h4>
    <h4><strong>Last Name:</strong> <%= @user.last_name %></h4>
    <h4><strong>Email:</strong> <%= @user.email %></h4>

<% @bookings.each do |booking| %>
<%=link_to 'Current Bookings', bookings_show_path(booking.id) %>
<% end %>

<h1><strong>What can we help you find, <%= @user.first_name %> ?</strong></h1>
<p>Some cards</p>
<h2>Continue your search</h2>
<p>Some cards with user's previous searches</p>
<h2>Featured destinations</h2>
<p>Some cards with recommended destinations</p>
<p>Find me in app/views/users/show.html.erb</p>

