<div style="display:block">
  <div class="form-bg">
          <div class="form-card-2 full-width" id="signup" >
            <h2 id="signup-font">Forgot your password?</h2>
            <div class="form-link text-md-left">

            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>

              <div class="form-actions-edit">
                <%= f.button :submit, "Send password reset request" %>
              </div>
            <% end %>
          </div>
          <%= render "devise/shared/links" %>
          </div>
  </div>
</div>

